body{
	margin: 0;
	padding: 0;
	background-image:  url(lagarto17.jpg);
background-position: center;
background-repeat: 
height: 70%;
widht: 70%;
}



.box{
	background: ;
	padding: 40px;
	margin: 80px;

}